* {
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

html {
	margin-bottom: 15px;
	background-color: springgreen;
	cursor: pointer;

}

body {
	width: 40%;
	margin: 0 auto;
}

header {
	background-color: springgreen;
	z-index: 3;
	clear: both;
	border-bottom: 3px white solid;
	display: none;
}
audio {
	display: none;
}
header h1 {
	margin: 0;
	color: deeppink;
}
.final {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0; 
	right: 0;
	margin-top: 10%;
}

.final h1, .viviane h1, .dollar h1 {
	font-size: 100px;
	text-align: center;
}
.viviane, .drew, .sarah, .lisa, .kyle, .liz, .dollar {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0; 
	right: 0;
	margin-top: 10%;
	display: none;
}
.drew h1, .sarah h1, .lisa h1, .kyle h1, .liz h1 {
	font-size: 60px;
	text-align: center;
}


.align {
	width: 90%;
	margin: 0 auto;
	padding: 15px 0;
	display: none;
}

#container {
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-family: 'Fira Mono', monospace;
	font-size: 1.2em;
	color: deeppink;
	font-weight: 400;
	letter-spacing: 1px;
}

span {
	background-color: deeppink;
	padding-left: 0px 2px;
}

ol {
	/*padding: 30px 0 0 35px;*/
	margin-top: 0;
	font-size: 1em;
	line-height: 1.4em;
	color: black;
	font-family: 'Fira Mono', monospace;
}

li {
	color: black;
	-webkit-transition: 2s;
}

li:hover {
	color: deeppink;
	font-size: 2em;
}
p {
	font-family: 'Fira Mono', monospace;
	font-size: .8em;
}

h5 {
	font-size: 1.5em;
	font-family: 'Fira Mono', monospace;
	color: deeppink;
}

@media only screen and (max-width: 900px) {
	body {
		width: 70%;
		margin: 0 auto;
	}
	li {
		color: black;
		-webkit-transition: 2s;
	}

	li:hover {
		color: deeppink;
		font-size: 1.4em;
	}
}
@media print