html {
	margin-bottom: 15px;
	background-color: springgreen;
	cursor: pointer;

}

body {
	width: 40%;
	margin: 0 auto;
}

header {
	background-color: springgreen;
	z-index: 3;
	clear: both;
	border-bottom: 3px white solid;
}

header h1 {
	margin: 0;
	color: deeppink;
}

.align {
	width: 90%;
	margin: 0 auto;
	padding: 15px 0;
}

#container {
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-family: 'Fira Mono', monospace;
	font-size: 1.2em;
	color: deeppink;
	font-weight: 400;
	letter-spacing: 1px;
}

span {
	background-color: deeppink;
	padding-left: 0px 2px;
}

ol {
	/*padding: 30px 0 0 35px;*/
	margin-top: 0;
	font-size: 1em;
	line-height: 1.4em;
	color: black;
	font-family: 'Fira Mono', monospace;
}

li {
	color: black;
	-webkit-transition: 2s;
}

li:hover {
	color: deeppink;
	font-size: 2em;
}
p {
	font-family: 'Fira Mono', monospace;
	font-size: .8em;
}

@media only screen and (max-width: 900px) {
	body {
		width: 70%;
		margin: 0 auto;
	}
	li {
		color: black;
		-webkit-transition: 2s;
	}

	li:hover {
		color: deeppink;
		font-size: 1.4em;
	}
}
@media print